<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Data sorting application</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body id="main_body">

<div id="form_container">
    <h1><a>File sorter</a></h1>

    <div class="form_description">
        <h2>Here are the sorted student list</h2>
        <p th:text="${sortingInfo}">sortingInfo</p>
        <br>
        <a th:href="${downloadUrl}">ClickHere to download sorted file</a>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th> Name</th>
                <th> Score</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}">
                <td><span th:text="${student.name}"> Name </span></td>
                <td><span th:text="${student.score}"> Score </span></td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>