<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>File sorter</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body id="main_body">

<div id="form_container">

    <h1><a>File sorter</a></h1>
    <form action="/upload" class="appnitro" enctype="multipart/form-data" id="form_94227" method="POST">
        <div class="form_description">
            <h2>File sorter</h2>
            <p>Please upload a file and choose a sorting algorithm</p>
        </div>
        <ul>

            <li id="li_1">
                <label class="description" for="element_1">Upload a File </label>
                <div>
                    <input class="element file" id="element_1" name="file" type="file"/>
                </div>
            </li>
            <li id="li_2">
                <label class="description" for="element_2">Algorithm </label>
                <div>
                    <select class="element select medium" id="element_2" name="sortmethod">
                        <option value="bubble">Bubble sort</option>
                        <option value="heap">Heap sort</option>
                        <option value="merge">Merge sort</option>

                    </select>
                </div>
            </li>

            <li class="buttons">
                <input name="form_id" type="hidden" value="94227"/>

                <input class="button_text" id="saveForm" name="submit" type="submit" value="Submit"/>
            </li>
        </ul>
    </form>
    <div class="form_description" th:if="${message}">
        <h2 th:text="${message}"/>
        <a th:href="${resultsUrl}">CLICK HERE to see results</a>
    </div>
</div>
</body>
</html>